{% include "nav.html" %}

<body>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <!-- Form to add a new reading -->
    <form action="/edit/{{id}}/" method='POST'>
        <div class="container">
            <div class="row">
                <div class="col-md-14">
                    <!-- DETAILS -->
                    <div id="about-card" class="card grey darken-4">
                        <div class="card-content">
                            <!-- ABOUT PARAGRAPH -->
                            <div class="grey-text">
                                <h4> Edit {{editReadings.title}}</h4>
                            </div>
                            <div class="row">
                                <form class="col s12 ">
                                    <div class="row">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="name" type="text" name="nameR" class="validate grey-text" placeholder="{{editReadings.title}}">
                                                <label for="name">Name</label>
                                            </div>
                                        </div>
                                        <div class="input-field col s12">
                                            <input id="img-link" type="text" name="img-link" class="validate grey-text" placeholder="{{editReadings.img}}">
                                            <label for="img-link">Image Link</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <textarea id="textarea1" name="desc" class="materialize-textarea grey-text" placeholder="{{editReadings.description}}"></textarea>
                                            <label for="textarea1">Description</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- BUTTONS -->
                        <div class="card-action">
                            <input type='submit' class=" btn cyan darken-4" id="add-tags" value="Edit">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
