{% include "nav.html" %}

<body>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <!-- Form to add a new reading -->
    <form action="/readings/" method='POST'>
        <div class="container">
            <div class="row">
                <div class="col-md-14">
                    <!-- DETAILS -->
                    <div id="about-card" class="card grey darken-4">
                        <div class="card-content">
                            <!-- ABOUT PARAGRAPH -->
                            <div class="grey-text">
                                <h4> Something To Read</h4>
                            </div>
                            <div class="row">
                                <form class="col s12 ">
                                    <div class="row">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="name" type="text" name="nameR" class="validate grey-text" required="" aria-required="true">
                                                <label for="name">Name</label>
                                            </div>
                                        </div>
                                        <div class="chips chips-autocomplete" id="chips">
                                            <input class="grey-text">
                                        </div>
                                        <div class="input-field col s12">
                                            <input id="img-link" type="text" name="img-link" class="validate grey-text">
                                            <label for="img-link">Image Link</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <textarea id="textarea1" name="desc" class="materialize-textarea grey-text"></textarea>
                                            <label for="textarea1">Description</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- BUTTONS -->
                        <div class="card-action">
                            <input type='submit' class="grey-text btn cyan darken-4" id="add-tags" value="Add">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>


<script type="text/javascript">
    // get all the tags from flask so I can make recommend, cam as JSON
    var dataJson = {{ dataPy | tojson | safe}};
    // convert Json to JS var
      var datajs = JSON.parse(dataJson);
      // convert the JS var to obj so I can eb able to give to materialize chips
      var obj = {};
    for (var i=0; i<datajs.length; i++) {
      obj[datajs[i]] = null;
    }
    // materialize chip s function
     $('.chips-autocomplete').chips({
     	    placeholder: 'Enter a tag',
    secondaryPlaceholder: '+Tag',
    autocompleteOptions: {
      data: obj,
    }
  });
// Function to handle the form and send all tags which
// is in the form of chips to flask 
$('#add-tags').click(function(){
    // convert all chips to json form
var tags = JSON.stringify(M.Chips.getInstance($('.chips')).chipsData);
// send the tags to flask
$.ajax({
          type: "POST",
          contentType: "application/json;charset=utf-8",
          url: "/readings/",
          traditional: "true",
          data: JSON.stringify({tags}),
          dataType: "json"
          });
});
     
</script>